---
layout: default
title: Maciej Żok
---

<header>
	<h1>Maciej Żok</h1>
</header>
<nav class="toc">
	<h1>Spis treści</h1>
	<ul>
		<li><a href="#">O autorze</a></li>
	</ul>

	{% for category in site.categories %}
		<h2 id="{{ category | first | downcase }}">{{ category | first | replace: "_", " " }}</h2>
		<ul>
		{% for posts in category %}
			{% for post in posts %}
				{% if post.content != nil %}
					<li><a href="{{ post.url }}">{{ post.title }}</a><time>{{ post.date | date: '%m.%Y' }} ({{ post.content | number_of_words | divided_by: 275.0 | floor | plus: 1 }} min.)</time></li>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</ul>
	{% endfor %}
</nav>
